// paths
$img-path: "../img/" !default;

// typography
$main-font: 'Titillium Web', sans-serif !default;
$font-light:300 !default;
$font-regular:400 !default;
$font-bold:600 !default;
$font-bolder:700 !default;
// color themes
$primary-color:#22B78E;
$primary-color-hover:#146e55;
$primary-color-light:#bde9dd;
$secondary-color:#004498;
$secondary-color-hover:#00224c;
$secondary-color-light:#f2f1ef;
$text-color:#000000;
$text-color-light:#727272;
$footer-bg:#272727;
// Button Colors

/* Primary button */
$btn-primary-normal:#22B78E;
$btn-primary-hover:#146e55;
$btn-primary-disabled:#bde9dd;
$btn-primary-default-text-color:#fff;
$btn-primary-hover-text-color:#fff;
$btn-primary-disabled-hover-text-color:#146e55;

/* Secondary button */
$btn-secondary-normal:#004498;
$btn-secondary-hover:#00224c;
$btn-secondary-disabled:#b3c7e0;
$btn-secondary-default-text-color:#fff;
$btn-secondary-hover-text-color:#fff;
$btn-secondary-disabled-hover-text-color:#00224c;

/* Success button */
$btn-success-normal:#42ba96;
$btn-success-hover:#28705a;
$btn-success-disabled:#b3e3d5;
$btn-success-default-text-color:#fff;
$btn-success-hover-text-color:#fff;
$btn-success-disabled-hover-text-color:#28705a;

/* Info button */
$btn-info-normal:#02B1CD;
$btn-info-hover:#00A5C1;
$btn-info-disabled:#AAE5EE;
$btn-info-default-text-color:#fff;
$btn-info-hover-text-color:#fff;
$btn-info-disabled-hover-text-color:#00A5C1;

/* Warning button */
$btn-warning-normal:#FFB452;
$btn-warning-hover:#F9A537;
$btn-warning-disabled:#FFD9A8;
$btn-warning-default-text-color:#000;
$btn-warning-hover-text-color:#000;
$btn-warning-disabled-hover-text-color:#F9A537;

/* Danger button */
$btn-danger-normal:#DD5A6A;
$btn-danger-hover:#b14855;
$btn-danger-disabled:#f5ced2;
$btn-danger-default-text-color:#fff;
$btn-danger-hover-text-color:#fff;
$btn-danger-disabled-hover-text-color:#b14855;

/* Light button */
$btn-light-normal:#FFFFFF;
$btn-light-hover:#5D6874;
$btn-light-disabled:#f3f3f3;
$btn-light-default-text-color:#5D6874;
$btn-light-hover-text-color:#fff;
$btn-light-disabled-hover-text-color:#748290;

/* Dark button */
$btn-dark-normal:#181818;
$btn-dark-hover:#0e0e0e;
$btn-dark-disabled:#b6c2d4;
$btn-dark-default-text-color:#fff;
$btn-dark-hover-text-color:#fff;
$btn-dark-disabled-hover-text-color:#0e0e0e;