.hero {
    background: transparent url('#{$img-path}hero_image.png') center center/cover no-repeat;

    .brand {
        display: block;
        max-width: 100%;
        margin: 50px 0;
    }

    .hero-label {
        max-width: 500px;

        h1 {
            font-size: 30px;
            line-height: calc(30px * 1.25);
            color: #fff;
        }

        h4 {
            font-weight: $font-regular;
            font-size: 20px;
            line-height: calc(20px * 1.25);
            color: #fff;
            letter-spacing: 3.59px;
        }
    }

    .contact-form {
        background-color: #fff;
        padding: 30px;
    }
}

.doctors-list {
    .doctors-list-item {
        text-align: center;
        padding: 30px 58px;

        figure {
            margin-bottom: 0;

            img {
                max-width: 256px;
                margin-left: auto;
                margin-right: auto;
            }

            figcaption {
                position: relative;
                display: block;
                text-align: center;
                margin-top: 25px;
                padding-bottom: 25px;

                h4,
                p {
                    color: $secondary-color;
                    margin-bottom: 0;
                }

                &:after {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 50px;
                    height: 1px;
                    left: 0;
                    right: 0;
                    bottom: 11.5px;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: $primary-color;
                }
            }
        }
    }

    .doctors-list-divider {
        display: block;
        background-color: #ECECFF;
        height: 2px;
        margin-left: 58px;
        margin-right: 58px;
    }
}


ul.types {
    margin: 0;

    li {
        position: relative;
        padding-left: 40px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        i, svg{
            position: absolute;
            width: 20px !important;
            height: 20px;
            left: 0;
            top: 4px;
            @include border-radius(20px);
            background-color: #f1f1f1;
            color: #DD5A6A;
            fill: #DD5A6A;
            padding: 3px;
        }
        // &::before {
        //     position: absolute;
        //     display: block;
        //     content: '';
        //     width: 14px;
        //     height: 8px;
        //     top: 0;
        //     left: 0;
        //     right: auto;
        //     background: transparent url('#{$img-path}double-tick-indicator.png') center center no-repeat;
        //     background-size: 14px 8px;
        // }
    }
}

ul.points {
    margin: 0;

    li {
        position: relative;
        padding-left: 30px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        i, svg{
            position: absolute;
            width:14px !important;
            height:14px;
            left: 0;
            top: 7px;
            color: $primary-color;
            fill: $primary-color;
        }
    }
}

.icon-card{
    background-color: #fff;
    border: 1px solid #E5EAFF;
    padding: 30px;
    @include border-radius(5px);
    height: 100%;
    @include animate(all 0.4s ease);
        img{
            display: block;
            width: 35px;
            height: 35px;
            object-fit: contain;
        }
        figcaption{
            display: block;
            margin-top: 20px;
        }

        &:hover{
            @include box-shadow(3);
        }
}